@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bowlby+One+SC&family=Edu+SA+Beginner:wght@500&family=Lilita+One&family=Montserrat&family=Poppins:wght@300;700&family=REM&family=Rancho&family=Rock+Salt&family=Rowdies&family=Ysabeau+SC&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
    background-image: url(bg.webp);
}

html {
    font-family: 'Monserrat' , sans-serif;
}

.teks {
    text-align: center;
    margin-top: 150px;
}

.teks h1 {
    color: white;
}

.teks h1 span {
    color: rgb(60, 32, 184);
}

.teks h2 {
    color: white;
    font-size: 15px;
}

.main {
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 35px;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
}

.form-input {
    margin-bottom: 10px;
}

.form-input input {
    border-radius: 10px;
    padding: 5px 0;
}

.form-input label {
    color: white;
    font-family: 'Monserrat', sans-serif;
}

.input {
    width: 100%;
}

.tombol button {
    padding: 5px;
    border-radius: 10px;
}

.psn h3 {
    color: white;
    font-size: 15px;
    margin-left: -20px;
}

.psn p {
    font-size: 10px;
    color: white;
}

.psn ul li {
    color: white;
}

.psn {
    margin-left: 60px;
}

@media (min-width : 750px) {
    .main {
        margin-top: 20px;
        margin-left: 33.5%;
        width: 600px;
        height: 400px
    }

    .form-input label {
        font-size: 20px;
    }

    .form-input input {
        padding: 15px 0;
        width: 300px;    
    }
    .tombol button {
        padding: 20px;
    }
    .psn h3 {
        font-size: 30px;
    }
    .psn p {
        font-size: 15px;
    }

    .psn {
        margin-left: 34.5%;
    }
}